<table class="table table-hover sortable" id="taskTable">
  <thead>
    <tr>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
    #foreach ($category in $categories)
    <tr>
      <td><a href="/categories/$category.getId()">$category.getName()</a></td>
    </tr>
      #end
  </tbody>
</table>
