<body class="text-center">
    <h1>Welcome to To Do List!</h1>
    <img src="/img/to-do-list-icon.png" alt="picture of to do list" >
    <h2>Use the navigation bar above to view or add your tasks and categories.</h2>
</body>
